<table class="table table-bordered">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Usuario</th>
            <th>Email</th>
			<th>Codigo de producto</th>
			<th>fecha creado</th>
			<th>Producto</th>
			<th>Categoria</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>Tipo de usuario</th>
			<th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>86</td>
				<td>2021-06-20 23:53:01</td>
				<td>6 canastitas integrales (3 cebolla y queso; 3 espinaca)</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">540</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>85</td>
				<td>2021-06-20 23:53:01</td>
				<td>Pizza integral de muzzarella x 500grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">440</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>47</td>
				<td>2021-06-20 23:53:01</td>
				<td>Champiñon fileteado congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">557</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>28</td>
				<td>2021-06-20 23:53:01</td>
				<td>Mango en cubos congelado x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">546</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>24</td>
				<td>2021-06-20 23:53:01</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
						<tr>
				<td>28</td>
				<td>Natalia Frigerio</td>
				<td>natalialujan@hotmail.com</td>
				<td>20</td>
				<td>2021-06-20 23:53:01</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Arias 1950 9 B</a> </td>
			</tr>
			
        
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>71</td>
				<td>2021-06-20 23:49:17</td>
				<td>10 barras Integra 100% cacao x 42grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">865</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>42</td>
				<td>2021-06-20 23:49:17</td>
				<td>Choclo congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">490</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>44</td>
				<td>2021-06-20 23:49:17</td>
				<td>Chaucha congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">440</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>32</td>
				<td>2021-06-20 23:49:17</td>
				<td>Brocoli entero congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">557</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>41</td>
				<td>2021-06-20 23:49:17</td>
				<td>Mix primavera congelado x 1kg: chaucha, choclo, zanahoria y arvejas.</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">426</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>47</td>
				<td>2021-06-20 23:49:17</td>
				<td>Champiñon fileteado congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">557</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>27</td>
				<td>Brenda Janchioanu</td>
				<td>brendaelianajan@gmail.com</td>
				<td>24</td>
				<td>2021-06-20 23:49:17</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Hilario Ascasubi 1067, Luis Guillon, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>26</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>27</td>
				<td>2021-06-14 21:08:12</td>
				<td>Arilos de granada</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">756</p></td>
				<td>6</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>25</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>21</td>
				<td>2021-06-14 20:52:19</td>
				<td>Frambuesas congeladas enteras y partidas x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">982</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
						<tr>
				<td>25</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>23</td>
				<td>2021-06-14 20:52:19</td>
				<td>Frutillas congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">530</p></td>
				<td>4</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>24</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>66</td>
				<td>2021-06-14 19:42:26</td>
				<td>Integrales! 12 alfajores mixtos saludables de dd leche y frambuesa x 65grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">1360</p></td>
				<td>3</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>23</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>21</td>
				<td>2021-06-14 19:32:06</td>
				<td>Frambuesas congeladas enteras y partidas x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">982</p></td>
				<td>4</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>22</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>56</td>
				<td>2021-06-14 19:15:24</td>
				<td>Jugos frutilla y frambuesa con azúcar x 500ml x 12 unidades</td>
				<td>Jugos Naturales</td>
				<td><p class="currency">1452</p></td>
				<td>2</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>21</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>62</td>
				<td>2021-06-14 19:05:12</td>
				<td>Jugos 100% naturales, sin azúcar! green power x 500ml x 12 unidades</td>
				<td>Jugos Naturales</td>
				<td><p class="currency">2820</p></td>
				<td>2</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>20</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>53</td>
				<td>2021-06-14 18:45:50</td>
				<td>Mix zucchini tarta congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">538</p></td>
				<td>7</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
						<tr>
				<td>20</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>22</td>
				<td>2021-06-14 18:45:50</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>3</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>19</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>65</td>
				<td>2021-06-14 18:22:50</td>
				<td>Integrales! 12 alfajores saludables de dd leche x 65grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">1360</p></td>
				<td>6</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
						<tr>
				<td>19</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>22</td>
				<td>2021-06-14 18:22:50</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>10</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>18</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>65</td>
				<td>2021-06-14 18:22:12</td>
				<td>Integrales! 12 alfajores saludables de dd leche x 65grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">1360</p></td>
				<td>6</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
						<tr>
				<td>18</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>22</td>
				<td>2021-06-14 18:22:12</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>10</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>17</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>65</td>
				<td>2021-06-14 18:22:00</td>
				<td>Integrales! 12 alfajores saludables de dd leche x 65grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">1360</p></td>
				<td>6</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
						<tr>
				<td>17</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>22</td>
				<td>2021-06-14 18:22:00</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>10</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>16</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>65</td>
				<td>2021-06-14 18:19:05</td>
				<td>Integrales! 12 alfajores saludables de dd leche x 65grs</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">1360</p></td>
				<td>6</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
						<tr>
				<td>16</td>
				<td>cliente web</td>
				<td>jarvi02@gmail.com</td>
				<td>22</td>
				<td>2021-06-14 18:19:05</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>10</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Aarón Castellanos, Santa Fe Province, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>15</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 18:12:57</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>14</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 18:11:51</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>13</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 18:07:22</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>12</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 18:00:49</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>11</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 17:59:48</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>10</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 17:58:06</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>9</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 17:53:36</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>8</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 17:52:17</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>7</td>
				<td>javier puebla</td>
				<td>jpuebla.ar@gmail.com</td>
				<td>20</td>
				<td>2021-06-14 17:49:13</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>8</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">aaaa</a> </td>
			</tr>
			
        
						<tr>
				<td>6</td>
				<td>Ana Ortiz</td>
				<td>anaortiza@hotmail.com</td>
				<td>21</td>
				<td>2021-06-04 12:35:33</td>
				<td>Frambuesas congeladas enteras y partidas x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">982</p></td>
				<td>2</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">COLON 450</a> </td>
			</tr>
						<tr>
				<td>6</td>
				<td>Ana Ortiz</td>
				<td>anaortiza@hotmail.com</td>
				<td>22</td>
				<td>2021-06-04 12:35:33</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>2</td>
				<td>cliente</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">COLON 450</a> </td>
			</tr>
			
        
						<tr>
				<td>5</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>21</td>
				<td>2021-06-04 12:09:20</td>
				<td>Frambuesas congeladas enteras y partidas x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">982</p></td>
				<td>5</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>5</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>24</td>
				<td>2021-06-04 12:09:20</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>4</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>24</td>
				<td>2021-06-04 11:54:38</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>6</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>4</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>42</td>
				<td>2021-06-04 11:54:38</td>
				<td>Choclo congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">490</p></td>
				<td>5</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>4</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>32</td>
				<td>2021-06-04 11:54:38</td>
				<td>Brocoli entero congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">557</p></td>
				<td>4</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>4</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>51</td>
				<td>2021-06-04 11:54:38</td>
				<td>Sopa congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">399</p></td>
				<td>5</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>50</td>
				<td>2021-06-03 16:50:43</td>
				<td>Wok de vegetales varios, congelados x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">594</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>51</td>
				<td>2021-06-03 16:50:43</td>
				<td>Sopa congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">399</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>47</td>
				<td>2021-06-03 16:50:43</td>
				<td>Champiñon fileteado congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">557</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>42</td>
				<td>2021-06-03 16:50:43</td>
				<td>Choclo congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">490</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>40</td>
				<td>2021-06-03 16:50:43</td>
				<td>Espinaca congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">434</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>45</td>
				<td>2021-06-03 16:50:43</td>
				<td>Cebolla en cubos congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">399</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>44</td>
				<td>2021-06-03 16:50:43</td>
				<td>Chaucha congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">440</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>43</td>
				<td>2021-06-03 16:50:43</td>
				<td>Acelga congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">417</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>54</td>
				<td>2021-06-03 16:50:43</td>
				<td>Papas bastón congeladas x 2kgs</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">532</p></td>
				<td>3</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>53</td>
				<td>2021-06-03 16:50:43</td>
				<td>Mix zucchini tarta congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">538</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>52</td>
				<td>2021-06-03 16:50:43</td>
				<td>Mix acelga para tarta congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">538</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>28</td>
				<td>2021-06-03 16:50:43</td>
				<td>Mango en cubos congelado x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">546</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>20</td>
				<td>2021-06-03 16:50:43</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>22</td>
				<td>2021-06-03 16:50:43</td>
				<td>Moras congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">680</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>21</td>
				<td>2021-06-03 16:50:43</td>
				<td>Frambuesas congeladas enteras y partidas x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">982</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>23</td>
				<td>2021-06-03 16:50:43</td>
				<td>Frutillas congeladas enteras x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">530</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>24</td>
				<td>2021-06-03 16:50:43</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>2</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>25</td>
				<td>2021-06-03 16:50:43</td>
				<td>Durazno congelado x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">550</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>27</td>
				<td>2021-06-03 16:50:43</td>
				<td>Arilos de granada</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">756</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>26</td>
				<td>2021-06-03 16:50:43</td>
				<td>Ananá en cubos congelado x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">808</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>29</td>
				<td>2021-06-03 16:50:43</td>
				<td>Maracuya en pulpa con semilla, congelada x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">673</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>30</td>
				<td>2021-06-03 16:50:43</td>
				<td>Maracuya en pulpa sin semilla, congelada x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">708</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>3</td>
				<td>Pastor Selser</td>
				<td>selserp@gmail.com</td>
				<td>31</td>
				<td>2021-06-03 16:50:43</td>
				<td>Pulpa de mango congelada x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">500</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Tronador 2795, Buenos Aires, Argentina</a> </td>
			</tr>
			
        
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>54</td>
				<td>2021-06-03 16:31:10</td>
				<td>Papas bastón congeladas x 2kgs</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">532</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>44</td>
				<td>2021-06-03 16:31:10</td>
				<td>Chaucha congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">440</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>42</td>
				<td>2021-06-03 16:31:10</td>
				<td>Choclo congelado x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">490</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>60</td>
				<td>2021-06-03 16:31:10</td>
				<td>Jugos manzana y limón con azúcar x 500ml x 12 unidades</td>
				<td>Jugos Naturales</td>
				<td><p class="currency">1452</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>91</td>
				<td>2021-06-03 16:31:10</td>
				<td>Jugo de tomate Zonia x 910cc</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">410</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>89</td>
				<td>2021-06-03 16:31:10</td>
				<td>Mermelada con azúcar de frambuesa x 450grs ¡Elaboración propia!</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">320</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>37</td>
				<td>2021-06-03 16:31:10</td>
				<td>4 hamburguesas poroto aduki, verduras y especias x 130grs c/u</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">310</p></td>
				<td>3</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>35</td>
				<td>2021-06-03 16:31:10</td>
				<td>4 hamburguesas yamaní, tomates secos, verduras y especias x 130grs c/u</td>
				<td>Lafem, Tienda Saludable</td>
				<td><p class="currency">310</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>30</td>
				<td>2021-06-03 16:31:10</td>
				<td>Maracuya en pulpa sin semilla, congelada x 1kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">708</p></td>
				<td>1</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>24</td>
				<td>2021-06-03 16:31:10</td>
				<td>Mixto 4 berries congelado por 1kg: frutillas, moras y arándanos enteros y frambuesa partida.</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">748</p></td>
				<td>3</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
						<tr>
				<td>2</td>
				<td>Carolina Mendez</td>
				<td>carololamg@hotmail.com</td>
				<td>20</td>
				<td>2021-06-03 16:31:10</td>
				<td>Arándanos congelados x 1 kg</td>
				<td>Frutas Congeladas</td>
				<td><p class="currency">583</p></td>
				<td>3</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Pacheco 3813</a> </td>
			</tr>
			
        
						<tr>
				<td>1</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>51</td>
				<td>2021-06-02 15:41:35</td>
				<td>Sopa congelada x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">399</p></td>
				<td>5</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
						<tr>
				<td>1</td>
				<td>Eduardo Amaya</td>
				<td>eduardoamaya@gergalberries.com</td>
				<td>50</td>
				<td>2021-06-02 15:41:35</td>
				<td>Wok de vegetales varios, congelados x 1kg</td>
				<td>Verduras congeladas</td>
				<td><p class="currency">594</p></td>
				<td>4</td>
				<td>revendedor</td>
				<td><a href="https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393">Méjico 5245, Villa Martelli, Provincia de Buenos Aires, Argentina</a> </td>
			</tr>
			
            </tbody>
</table>
