table thead {
    background-color: #02934b !important;
    color: white !important;
}
.row > .card:nth-child(3n) {
    margin-right: 0.75rem;
}
.font-color-gergal{
    color:#02934b;

}
body {
	font-family: raleway !important;
	text-transform: capitalize;
}
label , span , td, :is(h1, h2, h3, h4, h5, h6), p  {
	text-transform: lowercase  ;
}
label::first-letter , span::first-letter , td::first-letter, :is(h1, h2, h3, h4, h5, h6)::first-letter, a::first-letter{
	text-transform: uppercase;
}

table {
    background-color: white;
}
.btn-success-gergal {
    background-color: #b2312c;
    color: white;
}
.table thead th {
    vertical-align: middle;
}
 th a{
     color: white;
     font-size: 1.1em;
 }
.btn-outline-success , .btn-outline-danger , .btn-outline-primary {
    border: none;
}
 tr td a{
     color:#b2312c;
     font-weight: bold;
 }
.text-gergal-color {
	color:#b2312c;
	font-weight: bold;
 }
.logo {
  color: #02934b !important;
 }

 .logo  img {
	vertical-align: bottom;
	margin-right: 20px;
 }
body {
    background-position:bottom left;
	background-color:#f6f6f6;
    background-repeat: no-repeat;
}
.container-min-height {
	min-height: 80vh;
}
footer {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
footer > span {
	margin-left: 80px;
    font-size: 10px;
	color: #cccccc;
	text-indent: 15px;
}
footer > span > img {
    display: block;
}
footer .container-fluid {
    height: inherit;
}
footer > .container-fluid >.row {
    height: inherit;
}
.row {
    max-width: 100vw;
}
i{
    font-size: 10px !important;
    padding: 10px;
}
.btn > i {
    font-size: 15px !important;
}
footer  b {
display: block;
}
.btn-gray {
	background-color: #666666;
	color: white;
}
.btn-excel-gergal {
	background-color: #b2312c !important;
	color: white;
 }
.btn-outline-danger {
	color: #b2312c !important;
    border-color: #b2312c !important;
}
.btn-outline-danger:hover {
	color: white !important;
}
.pagination {
	justify-content: center;
}
.page-link {
	color: #02934b ;
}
.page-item.active .page-link {
	background-color: #02934b ;
	border-color: #02934b ;
}
.currency {
	display: flex;
	justify-content: flex-end;
	margin:0;
}
.fa-file-excel {
	padding-top: 5px !important;
    padding-bottom: 5px !important;
}

@media  (max-width: 800px){
    body {
        background-size: 200% 254px;
        background-position: bottom right;
    }
    .row > .card:nth-child(3n) {
        margin-right: 0;
    }
}

